@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
:root {
  --color-primary: 0 243 255;
  --color-secondary: 188 19 254;
}

/* Global background */
body {
  background-color: #030305;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  touch-action: manipulation;
}

/* Modern mobile-safe viewport */
html, body {
  width: 100%;
  height: 100%;
  min-height: 100svh; /* Eng muhim qator */
  background-color: #030305;
  overflow-x: hidden;
}
